<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="ruka2_mock_ros2_control" params="name initial_positions_file">
    <xacro:property
      name="initial_positions"
      value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
        <param name="calculate_dynamics">false</param>
      </hardware>

      <xacro:macro name="ruka2_mock_joint" params="joint_name">
        <joint name="${joint_name}">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">${initial_positions[joint_name]}</param>
          </state_interface>
          <state_interface name="velocity"/>
        </joint>
      </xacro:macro>

      <xacro:macro name="ruka2_mock_passive_joint" params="joint_name">
        <joint name="${joint_name}">
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
        </joint>
      </xacro:macro>

      <xacro:ruka2_mock_joint joint_name="joint_1"/>
      <xacro:ruka2_mock_joint joint_name="joint_2"/>
      <xacro:ruka2_mock_joint joint_name="joint_3"/>
      <xacro:ruka2_mock_joint joint_name="joint_4"/>
      <xacro:ruka2_mock_joint joint_name="joint_5"/>
      <xacro:ruka2_mock_joint joint_name="joint_6"/>
      <xacro:ruka2_mock_passive_joint joint_name="link_hand_cyl__first_fin"/>
      <xacro:ruka2_mock_passive_joint joint_name="link_hand_cyl__second_fin"/>
    </ros2_control>
  </xacro:macro>
</robot>
