<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ruka2">
  <xacro:include filename="$(find ruka2_description)/urdf/ruka2_macro.urdf.xacro"/>
  <xacro:include filename="$(find ruka2_control)/ros2_control/ruka2.ros2_control.xacro"/>

  <xacro:arg
    name="initial_positions_file"
    default="$(find ruka2_control)/config/initial_positions.yaml"/>

  <xacro:ruka2_model/>
  <xacro:ruka2_mock_ros2_control
    name="Ruka2MockSystem"
    initial_positions_file="$(arg initial_positions_file)"/>
</robot>
