<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ruka2">
  <!-- Конфигурация MoveIt остаётся самодостаточной, основная модель хранится в
       ruka2_description, а настройки ros2_control — в ruka2_control. -->
  <xacro:include filename="$(find ruka2_control)/config/ruka2_control.urdf.xacro"/>
</robot>
